# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build
obj/*
out/*

# Visual Studio Code folder
.vscode/*

# Audio 
*.wav
*.flac

# Build
build/

.DS_Store

#bash cmd to remove all the ds store files in a directory and its subdirectories
# find . -name .DS_Store -type f -delete